.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.modal_content {
  padding: 20px;
  border-radius: 12px;
}

.modal.active {
  transform: scale(1);
}

.modal_img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  margin-top: 12px;
}

.modal_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 90%;
  border-radius: 5px;
  background: rgb(102, 102, 102);
  box-shadow: 1px 1px 50px #000;
  overflow-y: scroll;
  overflow-x: hidden;
}

.closeBtn:hover {
  opacity: 0.5;
}

.backBtn:hover {
  opacity: 0.5;
}


.modal_h1 {
  font-family: "Open Sans Condensed", sans-serif;
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

.modal_item {
  position: relative;
  border: 2px solid rgb(4, 167, 17);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
  width: 95%;
  background-color: rgb(131, 129, 129);
  justify-content: space-between;
  text-align: center;
}

span {
  display: inline-block;
  position: relative;
  width: 33%;
  margin-right: -10px;
  font-weight: bold;
}


.modal_popup {
  top: 50%;
  left: 50%;
  width: 300px;
  height: 150px;
  background-color: rgb(131, 129, 129);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  margin: -75px 0 0 -150px;
}

.modal_popup.active {
  transform: scale(1);
}

.backBtn {
  position: absolute;
  cursor: pointer;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 18px;
  top: 3px;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.2;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.closeBtn {
  position: absolute;
  cursor: pointer;
  font-family: "Open Sans Condensed", sans-serif;
  line-height: 18px;
  margin-right: 10px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  opacity: 0.2;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
