.peopleInSpace_container {
    border: 2px solid teal;
    margin: 10px;
    margin-right: 20px;
    display:inline-block;
    width: 30%;
    border-radius: 15px;
}

.peopleInSpace_container-item {
    border: 2px solid teal;
    margin: 10px;
    border-radius: 15px;
    padding: 3px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.peopleInSpace_container-fullName {
    flex-grow: 3;
    text-align: center;
}

.peopleInSpace_container-total {
    border: 2px solid teal;
    margin: 10px;
    border-radius: 15px;
    padding: 3px;
    text-align: center;
}